 <!-- /.content-wrapper -->
 <footer class="main-footer">
    <strong>Copyright &copy; 2019-<?php echo date('Y')?> <a href="#">Ecommerce (Ecommerce)</a>.</strong> All rights
    reserved.
  </footer>      
</div>
<!-- ./wrapper -->
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="<%=nodeSiteUrl%>/js/bootstrap.min.js"></script>
   
<!-- AdminLTE App -->
<script src="<%=nodeSiteUrl%>/js/adminlte.min.js"></script>  
<script src="<%=nodeSiteUrl%>/plugins/select2/select2.full.min.js"></script>
</body>
</html>